<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consent Form</title>
    <link rel="stylesheet" href="agreement.css">
</head>
<body>
    
    <div class="container">
        <h1>Agreement on the Collection and Usage of Personal Information</h1>
        <div class="consent-box" id="consentBox">
            <div class="consent-text">
                <h2>Agreement on the Collection and Usage of Personal Information</h2>
                <p>Space Chat, in accordance with the Act on the Protection of Personal Information by the Korean law, seeks your permission for the collection and use of your personal information.</p>
                <h2>Purpose of Collection and Usage of Personal Information</h2>
                <h3>Article</h3>
                <p>Name, E-mail</p>
                <h3>Purpose of Collection</h3>
                <p>Registration for 'Space Chat' and to provide other informations related to it.</p>
                <h3>Retention Period</h3>
                <p>Until requested for deletion</p>

                <p>You have the right to refuse to accept the above agreement on the collection and use of personal in-formation. However, submission may be restricted if you do not consent to the agreement.</p>
                <p>Do you agree to the terms, conditions and the usage of your private information as described above?</p>
            </div>
            <div class="consent-radio" id="radioDiv">
                <input type="radio" id="agree" name="consent" value="agree" checked>
                <label for="agree">I agree to the terms and conditions</label>
                <br>
                <input type="radio" id="disagree" name="consent" value="disagree">
                <label for="disagree">I disagree</label>
            </div>
            
        </div>
        <button class="next-button" id="nextButton">Next</button>
    </div>
    <div class="background">
        <div class="circle winterblue"></div>
        <div class="circle summerlightblue"></div>
        <div class="circle springlightblue"></div>
        <div class="circle autumnmuteblue"></div>
        <div class="circle summermuteblue"></div>
        <div class="circle grey"></div>
    </div>
    <script src="agreement.js"></script>
</body>
</html>