<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Success</title>
    <link rel="stylesheet" href="signup_success.css">
</head>
<body>
    <div class="message">
        <h1>Membership registration Success!</h1>
        <p>Enjoy a convenient life with Spacechat.</p>
        <!-- 수정된 링크 경로 -->
        <a href="login.html" class="login">Return to 'Sign in'</a>
    </div>
    <div class="background">
        <div class="circle winterblue"></div>
        <div class="circle summerlightblue"></div>
        <div class="circle springlightblue"></div>
        <div class="circle autumnmuteblue"></div>
        <div class="circle summermuteblue"></div>
        <div class="circle grey"></div>
    </div>
</body>
</html>