<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login</title>
</head>
<body>
    <h1>Google Login</h1>
    <!-- 구글 로그인 버튼 -->
    <button id="googleLoginBtn">Google 로그인</button>

    <!-- 구글 로그인 관련 스크립트 -->
    <script>
        // 클릭 이벤트 핸들러
        document.getElementById('googleLoginBtn').addEventListener('click', function() {
            // Google 로그인을 위한 URL
            var googleLoginUrl = 'http://spacechat.co.kr:60000/google_login';
            
            // 새 창에서 Google 로그인 페이지 열기
            var popup = window.open(googleLoginUrl, '_blank');

            // 팝업 창이 닫히면 쿠키를 가져오기
            var interval = setInterval(function() {
                if (popup.closed) {
                    clearInterval(interval);
                    // 여기에 쿠키를 가져오는 코드 추가
                    console.log('Popup closed. Get the cookie here.');
                }
            }, 1000);
        });
    </script>
</body>
</html>
